<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-05-17T10:00:00-05:00",
      "endDate": "2026-05-17T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/may-17-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/may-17-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/1238395168189219/",
        "https://nextdoor.com/local_events/TQTL_mmFP7FT"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-05-31T10:00:00-05:00",
      "endDate": "2026-05-31T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/may-31-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/may-31-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/1945401556387322/",
        "https://nextdoor.com/local_events/pPXPqgMRtg9P"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-06-14T10:00:00-05:00",
      "endDate": "2026-06-14T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/june-14-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/june-14-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/1396095782259599/",
        "https://nextdoor.com/local_events/9NqRg3smFMhn"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-06-28T10:00:00-05:00",
      "endDate": "2026-06-28T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/june-28-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/june-28-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/1257775939734753/",
        "https://nextdoor.com/local_events/LGM8BD8zqdsm"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-07-12T10:00:00-05:00",
      "endDate": "2026-07-12T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/july-12-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/july-12-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/901219999170026",
        "https://nextdoor.com/local_events/R8SbGdKBqwqL"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-07-26T10:00:00-05:00",
      "endDate": "2026-07-26T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/july-26-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/july-26-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/25623081804051290",
        "https://nextdoor.com/local_events/x63M9hPNL7Nc"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-08-09T10:00:00-05:00",
      "endDate": "2026-08-09T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/august-09-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/august-09-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/898281172746690",
        "https://nextdoor.com/local_events/693wt9M9xp2L"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-08-23T10:00:00-05:00",
      "endDate": "2026-08-23T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/august-23-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/august-23-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/1818811535490444",
        "https://nextdoor.com/local_events/9NqRg3smFMhn"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-09-06T10:00:00-05:00",
      "endDate": "2026-09-06T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/september-06-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/september-06-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/1199000545671636/",
        "https://nextdoor.com/local_events/wRpyqQrQFmsm"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-09-20T10:00:00-05:00",
      "endDate": "2026-09-20T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/september-20-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/september-20-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/2144891926043209",
        "https://nextdoor.com/local_events/gBYRhHks45sQ"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-10-04T10:00:00-05:00",
      "endDate": "2026-10-04T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/october-04-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/october-04-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/914276631541939",
        "https://nextdoor.com/local_events/PnT28-27yjds"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-10-18T10:00:00-05:00",
      "endDate": "2026-10-18T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/october-18-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/october-18-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/25496347889994370",
        "https://nextdoor.com/local_events/n2f7KwqdqZY9"
      ]
    },
    {
      "@type": "Event",
      "name": "The Edge of Liberty Craft Fair",
      "startDate": "2026-11-01T10:00:00-05:00",
      "endDate": "2026-11-01T15:00:00-05:00",
      "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "location": {
        "@id": "https://edge-of-liberty.com/#place"
      },
      "image": [
        "/november-01-2026/hero.jpg"
      ],
      "performer": {
        "@type": "PerformingGroup",
        "name": "Open Mic Karaoke"
      },
      "offers": {
        "@type": "Offer",
        "price": "0",
        "priceCurrency": "USD",
        "availability": "https://schema.org/InStock",
        "url": "https://edgeofliberty.us/",
        "validFrom": "2026-01-01T00:00:00-05:00"
      },
      "description": "The Edge of Liberty Craft Fair is an opportunity for local entrepreneurs to sell handmade art, crafts, and food items to their neighbors and friends in Liberty Township, Indiana.",
      "url": "https://edgeofliberty.us/november-01-2026/",
      "organizer": {
        "@type": "Organization",
        "name": "The Edge of Liberty",
        "url": "https://edgeofliberty.us/"
      },
      "sameAs": [
        "https://www.facebook.com/events/2631614767224049",
        "https://nextdoor.com/local_events/D7xyts-wPS6B"
      ]
    }
  ]
}
</script>
