    <h2>Come Spend Sundays with Us at The Edge of Liberty Craft Fair!</h2>
    <p>&nbsp;</p>    
    <p>Every other Sunday from Mother’s Day through Halloween, enjoy a lively outdoor market featuring <strong>local artisans, fresh food, and community spirit</strong> on the edge of Liberty Township, just north of Valparaiso. Browse a vibrant mix of handmade goods, unique art, and farm-fresh products, enjoy <strong>live music and karaoke</strong>, and grab a bite from our <strong>featured food truck</strong>.</p>

    <p>On the Sundays in between craft fairs, our <strong>farm stand</strong> is open with <strong>organically grown, seasonal produce, herbs, and edible flowers</strong> picked fresh just for you. <strong>Explore our garden walks, nature trails, fish pond, and apiary</strong> while soaking in the fresh air and good vibes.</p>

    <p>We’re all about creating a <strong>welcoming space</strong> where everyone can <strong>connect, shop, and celebrate the simple joys of life.</strong> Whether you’re here to support local artists, stock up on fresh food, or just enjoy a beautiful Sunday outdoors, <strong>you’re part of what makes this place so special.</strong></p>

  <p>
  👉 Looking for <a href="/things-to-do-valparaiso-weekends/"><strong>things to do in Valparaiso this weekend</strong></a>? Visit our Sunday craft fair!
  </p>

<p>Interested in joining us? Be a <a href="https://batshitcrazyfarms.com/off-season-market/ols/products/the-edge-of-liberty-craft-fair-space">vendor</a> and be part of our community!</p>

<p>&nbsp;</p>    
<hr>

<p>
  📍 <a href="https://www.google.com/maps/place/The+Edge+of+Liberty/@41.521809,-87.036052,673m/data=!3m1!1e3!4m12!1m5!3m4!2zNDHCsDMxJzE4LjUiTiA4N8KwMDInMDkuOCJX!8m2!3d41.521809!4d-87.036052!3m5!1s0x8811992fc22aca43:0x4d56a127dde0ee9c!8m2!3d41.5215535!4d-87.0360516!16s%2Fg%2F11j78ky1z0" target="_blank" rel="noopener">
    <strong>606 N Calumet Ave, Valparaiso, IN</strong>
  </a><br>

  🎪 <strong>Craft Fairs:</strong> Every other Sunday | 10 AM – 3 PM<br>
  🌱 <strong>Farm Stand:</strong> Open every Sunday | 10 AM – 3 PM
</p>

<p>
  <strong>Full Season Schedule:</strong>
  <a href="https://www.facebook.com/events/25877717201865696/25877717271865689" target="_blank" rel="noopener">
    View full season on Facebook
  </a>
</p>
<hr>
<p>&nbsp;</p>    

  <p>
    📅 <a href="https://calendar.google.com/calendar/u/0?cid=ZWEyMXByZGVsZHNyaWlqbm0yM2NjYXZrYWdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ" target="_blank" rel="noopener">
      <strong>Subscribe to our Google Calendar for all craft fair dates</strong>
    </a>
  </p>
    <p><a href="/craft-fairs" style="font-weight: bold; color: #0073e6; text-decoration: none;">👉 Read more about our Craft Fairs on our FAQ page.</a></p>
