{% include events_schema.json %}
<h2>Craft Fair Dates</h2>

<p>Every Other Sunday | 10 AM – 3 PM </p>



<ul>
<li><a href="https://batshitcrazyfarms.com/off-season-market/ols/products/edge-of-liberty-craft-fair-food-truck" target="_blank" rel="noopener">Be Our Featured Food Truck!</a></li>
<li><a href="https://batshitcrazyfarms.com/off-season-market/ols/products/the-edge-of-liberty-craft-fair-space" target="_blank" rel="noopener">Be a vendor! Sign Up Now!!!</a></li>
<li><a href="https://batshitcrazyfarms.com/off-season-market/ols/products/the-edge-of-liberty-craft-fair-space" target="_blank" rel="noopener">Raise awareness/raise money for your non-profit</a></li>
</ul>



